<div class="section__news-sp">
  <div class="container">
    <div class="section__nsp-flex mb-16">
      <div class="section__nsp-main">
        <div
          class="section__nsp-box-24h"
          data-marked-zoneid="tn_home_tin24h"
          data-io-widget="true"
          data-vr-zone="Home - Tin 24h"
        >
          <div class="box-category box-border-top" data-layout="3">
            <div class="box-category-top">
              <h2 class="title-category">
                <a
                  class="box-category-title"
                  href="/tin-24h.htm"
                  title="Tin 24h"
                >
                  Tin 24h
                </a>
              </h2>
            </div>
            <div
              class="box-category-middle"
              data-cd-key="siteid185:newstophot"
              data-cd-top="8"
              data-cd-block="1"
            >
              <div
                id="box-test-24h"
                class="box-category-item"
                data-marked-zoneid="tn_home_tin24h_test_boxid_10_algid_136_rid_ba5c6084f39811f09a4e195cd55dea18"
                data-id="18526011716242966"
                style="visibility: visible"
              >
                <a
                  class="box-category-link-with-avatar img-resize box-per"
                  data-id="18526011716242966"
                  data-item="news-test"
                  href="/hoc-sinh-kho-khan-vung-nui-khanh-hoa-nhan-qua-tet-som-18526011716242966.htm"
                  title="Học sinh khó khăn vùng núi Khánh Hòa nhận quà tết sớm"
                  data-newstype="0"
                  ><img
                    data-type="1016"
                    data-newstype="0"
                    src="https://images2.thanhnien.vn/zoom/192_120/528068263637045248/2026/1/17/z74405934230929fce13c7f3b8c731e92449c20e187467-17686449680072079898322-106-0-1706-2560-crop-1768644976898934991460.jpg"
                    alt="Học sinh khó khăn vùng núi Khánh Hòa nhận quà tết sớm"
                    class="box-category-avatar"
                /></a>
                <div class="box-category-content">
                  <h3 class="box-title-text">
                    <a
                      data-type="1016"
                      data-newstype="0"
                      data-linktype="newsdetail"
                      data-trimline="4"
                      data-id="18526011716242966"
                      class="box-category-link-title"
                      href="/hoc-sinh-kho-khan-vung-nui-khanh-hoa-nhan-qua-tet-som-18526011716242966.htm"
                      title="Học sinh khó khăn vùng núi Khánh Hòa nhận quà tết sớm"
                      >Học sinh khó khăn vùng núi Khánh Hòa nhận quà tết sớm</a
                    >
                  </h3>
                </div>
              </div>
              <div
                class="box-category-item"
                data-id="185260116210846546"
                data-vr-contentbox="Home - Thời sự 2"
                data-vr-contentbox-url="https://thanhnien.vn/cuoc-dau-moi-tai-venezuela-185260116210846546.htm"
              >
                <a
                  class="box-category-link-with-avatar img-resize"
                  href="/cuoc-dau-moi-tai-venezuela-185260116210846546.htm"
                  title="Cuộc đấu mới tại Venezuela"
                  data-id="185260116210846546"
                  data-newstype="0"
                  data-type="0"
                  data-io-canonical-url="/cuoc-dau-moi-tai-venezuela-185260116210846546.htm"
                >
                  <img
                    data-type="avatar"
                    src="https://images2.thanhnien.vn/zoom/160_100/528068263637045248/2026/1/16/23a-online-1768572374240351830105-43-0-683-1024-crop-1768572396763760364878.jpg"
                    alt="Cuộc đấu mới tại Venezuela"
                    class="box-category-avatar"
                    loading="lazy"
                    srcset="
                      https://images2.thanhnien.vn/zoom/160_100/528068263637045248/2026/1/16/23a-online-1768572374240351830105-43-0-683-1024-crop-1768572396763760364878.jpg 1x,
                      https://images2.thanhnien.vn/zoom/384_240/528068263637045248/2026/1/16/23a-online-1768572374240351830105-43-0-683-1024-crop-1768572396763760364878.jpg 2x
                    "
                  />
                </a>
                <div class="box-category-content">
                  <h3
                    class="box-title-text"
                    data-vr-headline=""
                    data-vr-contentbox-dynamic-hash="1658759260"
                  >
                    <a
                      data-linktype="newsdetail"
                      data-id="185260116210846546"
                      class="box-category-link-title"
                      data-newstype="0"
                      data-type="0"
                      href="/cuoc-dau-moi-tai-venezuela-185260116210846546.htm"
                      title="Cuộc đấu mới tại Venezuela"
                      data-trimline-done="4"
                      >Cuộc đấu mới tại Venezuela</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="section__nsp-box-360"
          data-marked-zoneid="tn_home_tinnhanh360"
          data-io-widget="true"
          data-vr-zone="Home - Tin nhanh 360"
        >
          <div class="box-category" data-layout="4">
            <div class="box-category-top">
              <h2 class="title-category">
                <a
                  class="box-category-title"
                  href="/tin-nhanh-360.htm"
                  title="Tin nhanh 360"
                >
                  Tin nhanh <span>360</span>
                </a>
              </h2>
            </div>
            <div
              class="box-category-middle"
              data-cd-key="siteid185:newstophot"
              data-cd-top="8"
              data-cd-block="2"
            >
              <div class="box-col">
                <div
                  id="box-test-360"
                  data-marked-zoneid="tn_home_tinnhanh360_test_boxid_11_algid_135_rid_ba5c606ef39811f0b9bd85f670caae52"
                  data-id="185260117162058383"
                  class="box-category-item"
                  style="visibility: visible"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    data-id="185260117162058383"
                    href="https://thanhnien.vn/netflix-noi-loi-chia-tay-kung-fu-panda-185260117162058383.htm"
                    title="Netflix nói lời chia tay 'Kung Fu Panda'"
                    ><img
                      data-type="0"
                      data-newstype="0"
                      src="https://images2.thanhnien.vn/zoom/192_120/528068263637045248/2026/1/17/kf1-17686411926601603210310-17-0-435-669-crop-17686415834322109263879.jpg"
                      alt="Netflix nói lời chia tay 'Kung Fu Panda'"
                      class="box-category-avatar"
                  /></a>
                  <div class="box-category-content">
                    <a
                      class="box-category-category"
                      href="/giai-tri/phim.htm"
                      title="Phim"
                      >Phim</a
                    >
                    <h3 class="box-title-text">
                      <a
                        data-type="0"
                        data-newstype="0"
                        data-linktype="newsdetail"
                        data-id="185260117162058383"
                        class="box-category-link-title"
                        href="https://thanhnien.vn/netflix-noi-loi-chia-tay-kung-fu-panda-185260117162058383.htm"
                        title="Netflix nói lời chia tay 'Kung Fu Panda'"
                        >Netflix nói lời chia tay 'Kung Fu Panda'</a
                      >
                    </h3>
                  </div>
                </div>
                <div
                  class="box-category-item"
                  data-id="18526011621423407"
                  data-vr-contentbox="Home - Đời sống 5"
                  data-vr-contentbox-url="https://thanhnien.vn/xuat-hien-pha-bong-cuc-di-tai-u23-chau-a-2026-cau-thu-u23-nhat-ban-va-jordan-deu-sung-so-18526011621423407.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-square"
                    href="/xuat-hien-pha-bong-cuc-di-tai-u23-chau-a-2026-cau-thu-u23-nhat-ban-va-jordan-deu-sung-so-18526011621423407.htm"
                    title="Xuất hiện pha bóng cực ‘dị’ tại U.23 châu Á 2026: Cầu thủ U.23 Nhật Bản và Jordan đều… sững sờ"
                    data-id="18526011621423407"
                    data-io-canonical-url="/xuat-hien-pha-bong-cuc-di-tai-u23-chau-a-2026-cau-thu-u23-nhat-ban-va-jordan-deu-sung-so-18526011621423407.htm"
                  >
                    <img
                      data-type="avatar "
                      src="https://images2.thanhnien.vn/thumb_w/192/528068263637045248/2026/1/16/61540469415961546649809813798242495735634589n-1768574380149836825973-0-480-1920-1920-crop-17685744429281854158533.jpg"
                      alt="Xuất hiện pha bóng cực ‘dị’ tại U.23 châu Á 2026: Cầu thủ U.23 Nhật Bản và Jordan đều… sững sờ"
                      class="box-category-avatar"
                      srcset="
                        https://images2.thanhnien.vn/thumb_w/192/528068263637045248/2026/1/16/61540469415961546649809813798242495735634589n-1768574380149836825973-0-480-1920-1920-crop-17685744429281854158533.jpg  1x,
                        https://images2.thanhnien.vn/zoom/384_512/528068263637045248/2026/1/16/61540469415961546649809813798242495735634589n-1768574380149836825973-0-480-1920-1920-crop-17685744429281854158533.jpg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <a
                      class="box-category-category"
                      href="/the-thao/bong-da-viet-nam.htm"
                      title="Bóng đá Việt Nam"
                      >Bóng đá Việt Nam</a
                    >
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="2018501624"
                    >
                      <a
                        data-linktype="newsdetail"
                        data-id="18526011621423407"
                        class="box-category-link-title"
                        data-newstype="0"
                        href="/xuat-hien-pha-bong-cuc-di-tai-u23-chau-a-2026-cau-thu-u23-nhat-ban-va-jordan-deu-sung-so-18526011621423407.htm"
                        title="Xuất hiện pha bóng cực ‘dị’ tại U.23 châu Á 2026: Cầu thủ U.23 Nhật Bản và Jordan đều… sững sờ"
                        data-trimline-done="4"
                        >Xuất hiện pha bóng cực ‘dị’ tại U.23 châu Á 2026: Cầu
                        thủ U.23 Nhật Bản và Jordan đều… sững sờ</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
              <div class="box-col">
                <div
                  class="box-category-item"
                  data-id="185260116225735364"
                  data-vr-contentbox="Home - Đời sống 3"
                  data-vr-contentbox-url="https://thanhnien.vn/tai-sao-trong-tai-iran-khong-cong-nhan-ban-thang-cua-u23-uae-giup-u23-viet-nam-thoat-thua-185260116225735364.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-square"
                    href="/tai-sao-trong-tai-iran-khong-cong-nhan-ban-thang-cua-u23-uae-giup-u23-viet-nam-thoat-thua-185260116225735364.htm"
                    title="Tại sao trọng tài Iran không công nhận bàn thắng của U.23 UAE giúp U.23 Việt Nam thoát thua?"
                    data-id="185260116225735364"
                    data-io-canonical-url="/tai-sao-trong-tai-iran-khong-cong-nhan-ban-thang-cua-u23-uae-giup-u23-viet-nam-thoat-thua-185260116225735364.htm"
                  >
                    <img
                      data-type="avatar "
                      src="https://images2.thanhnien.vn/zoom/192_256/528068263637045248/2026/1/16/img8507-1768579098577491317269-212-0-1462-2000-crop-1768579127504821911634.jpeg"
                      alt="Tại sao trọng tài Iran không công nhận bàn thắng của U.23 UAE giúp U.23 Việt Nam thoát thua?"
                      class="box-category-avatar"
                      srcset="
                        https://images2.thanhnien.vn/zoom/192_256/528068263637045248/2026/1/16/img8507-1768579098577491317269-212-0-1462-2000-crop-1768579127504821911634.jpeg 1x,
                        https://images2.thanhnien.vn/zoom/384_512/528068263637045248/2026/1/16/img8507-1768579098577491317269-212-0-1462-2000-crop-1768579127504821911634.jpeg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <a
                      class="box-category-category"
                      href="/the-thao/bong-da-viet-nam.htm"
                      title="Bóng đá Việt Nam"
                      >Bóng đá Việt Nam</a
                    >
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="3208348733"
                    >
                      <a
                        data-linktype="newsdetail"
                        data-id="185260116225735364"
                        class="box-category-link-title"
                        data-newstype="0"
                        href="/tai-sao-trong-tai-iran-khong-cong-nhan-ban-thang-cua-u23-uae-giup-u23-viet-nam-thoat-thua-185260116225735364.htm"
                        title="Tại sao trọng tài Iran không công nhận bàn thắng của U.23 UAE giúp U.23 Việt Nam thoát thua?"
                        data-trimline-done="4"
                        >Tại sao trọng tài Iran không công nhận bàn thắng của
                        U.23 UAE giúp U.23 Việt Nam thoát thua?</a
                      >
                    </h3>
                  </div>
                </div>
                <div
                  class="box-category-item"
                  data-id="185260116201654617"
                  data-vr-contentbox="Home - Đời sống 6"
                  data-vr-contentbox-url="https://thanhnien.vn/bac-si-chi-ra-khung-gio-nen-di-vao-giac-ngu-de-song-khoe-song-tho-185260116201654617.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/bac-si-chi-ra-khung-gio-nen-di-vao-giac-ngu-de-song-khoe-song-tho-185260116201654617.htm"
                    title="Bác sĩ chỉ ra khung giờ nên đi vào giấc ngủ để sống khỏe, sống thọ"
                    data-id="185260116201654617"
                    data-io-canonical-url="/bac-si-chi-ra-khung-gio-nen-di-vao-giac-ngu-de-song-khoe-song-tho-185260116201654617.htm"
                  >
                    <img
                      data-type="avatar "
                      src="https://images2.thanhnien.vn/zoom/192_120/528068263637045248/2026/1/16/ngu-som-1768569683864566134880-43-0-1003-1536-crop-176857036088814144356.png"
                      alt="Bác sĩ chỉ ra khung giờ nên đi vào giấc ngủ để sống khỏe, sống thọ"
                      class="box-category-avatar"
                      srcset="
                        https://images2.thanhnien.vn/zoom/192_120/528068263637045248/2026/1/16/ngu-som-1768569683864566134880-43-0-1003-1536-crop-176857036088814144356.png 1x,
                        https://images2.thanhnien.vn/zoom/384_240/528068263637045248/2026/1/16/ngu-som-1768569683864566134880-43-0-1003-1536-crop-176857036088814144356.png 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <a
                      class="box-category-category"
                      href="/suc-khoe.htm"
                      title="Sức khỏe"
                      >Sức khỏe</a
                    >
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="4012300009"
                    >
                      <a
                        data-linktype="newsdetail"
                        data-id="185260116201654617"
                        class="box-category-link-title"
                        data-newstype="0"
                        href="/bac-si-chi-ra-khung-gio-nen-di-vao-giac-ngu-de-song-khoe-song-tho-185260116201654617.htm"
                        title="Bác sĩ chỉ ra khung giờ nên đi vào giấc ngủ để sống khỏe, sống thọ"
                        data-trimline-done="4"
                        >Bác sĩ chỉ ra khung giờ nên đi vào giấc ngủ để sống
                        khỏe, sống thọ</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
              <div class="box-col">
                <div
                  class="box-category-item"
                  data-id="185260117013420683"
                  data-vr-contentbox="Home - Đời sống 4"
                  data-vr-contentbox-url="https://thanhnien.vn/truyen-thong-uae-that-kho-tin-voi-tinh-than-loi-choi-va-the-luc-sung-man-cua-u23-viet-nam-185260117013420683.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/truyen-thong-uae-that-kho-tin-voi-tinh-than-loi-choi-va-the-luc-sung-man-cua-u23-viet-nam-185260117013420683.htm"
                    title="Truyền thông UAE: ‘Thật khó tin với tinh thần, lối chơi và thể lực sung mãn của U.23 Việt Nam'"
                    data-id="185260117013420683"
                    data-io-canonical-url="/truyen-thong-uae-that-kho-tin-voi-tinh-than-loi-choi-va-the-luc-sung-man-cua-u23-viet-nam-185260117013420683.htm"
                  >
                    <img
                      data-type="avatar "
                      src="https://images2.thanhnien.vn/zoom/192_120/528068263637045248/2026/1/16/z7438551858170e722e9f79a4e58c7840036d9d4eac14e-17685882112671539572247-0-0-1062-1700-crop-17685882996952064328618.jpg"
                      alt="Truyền thông UAE: ‘Thật khó tin với tinh thần, lối chơi và thể lực sung mãn của U.23 Việt Nam'"
                      class="box-category-avatar"
                      srcset="
                        https://images2.thanhnien.vn/zoom/192_120/528068263637045248/2026/1/16/z7438551858170e722e9f79a4e58c7840036d9d4eac14e-17685882112671539572247-0-0-1062-1700-crop-17685882996952064328618.jpg 1x,
                        https://images2.thanhnien.vn/zoom/384_240/528068263637045248/2026/1/16/z7438551858170e722e9f79a4e58c7840036d9d4eac14e-17685882112671539572247-0-0-1062-1700-crop-17685882996952064328618.jpg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <a
                      class="box-category-category"
                      href="/the-thao/bong-da-viet-nam.htm"
                      title="Bóng đá Việt Nam"
                      >Bóng đá Việt Nam</a
                    >
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="3899275610"
                    >
                      <a
                        data-linktype="newsdetail"
                        data-id="185260117013420683"
                        class="box-category-link-title"
                        data-newstype="0"
                        href="/truyen-thong-uae-that-kho-tin-voi-tinh-than-loi-choi-va-the-luc-sung-man-cua-u23-viet-nam-185260117013420683.htm"
                        title="Truyền thông UAE: ‘Thật khó tin với tinh thần, lối chơi và thể lực sung mãn của U.23 Việt Nam'"
                        data-trimline-done="4"
                        >Truyền thông UAE: ‘Thật khó tin với tinh thần, lối chơi
                        và thể lực sung mãn của U.23 Việt Nam'</a
                      >
                    </h3>
                  </div>
                </div>
                <div
                  class="box-category-item"
                  data-id="185260117152824416"
                  data-vr-contentbox="Home - Đời sống 7"
                  data-vr-contentbox-url="https://thanhnien.vn/trung-luoc-buoi-sang-them-tac-dung-tuyet-voi-cho-tuoi-50-185260117152824416.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-square"
                    href="/trung-luoc-buoi-sang-them-tac-dung-tuyet-voi-cho-tuoi-50-185260117152824416.htm"
                    title="Trứng luộc buổi sáng: Thêm tác dụng tuyệt vời cho tuổi 50!"
                    data-id="185260117152824416"
                    data-io-canonical-url="/trung-luoc-buoi-sang-them-tac-dung-tuyet-voi-cho-tuoi-50-185260117152824416.htm"
                  >
                    <img
                      data-type="avatar "
                      src="https://images2.thanhnien.vn/zoom/192_256/528068263637045248/2026/1/17/trung-17686382406651402940177-70-0-710-1024-crop-1768638286869103426915.jpg"
                      alt="Trứng luộc buổi sáng: Thêm tác dụng tuyệt vời cho tuổi 50!"
                      class="box-category-avatar"
                      srcset="
                        https://images2.thanhnien.vn/zoom/192_256/528068263637045248/2026/1/17/trung-17686382406651402940177-70-0-710-1024-crop-1768638286869103426915.jpg 1x,
                        https://images2.thanhnien.vn/zoom/384_512/528068263637045248/2026/1/17/trung-17686382406651402940177-70-0-710-1024-crop-1768638286869103426915.jpg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <a
                      class="box-category-category"
                      href="/suc-khoe.htm"
                      title="Sức khỏe"
                      >Sức khỏe</a
                    >
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="3697434213"
                    >
                      <a
                        data-linktype="newsdetail"
                        data-id="185260117152824416"
                        class="box-category-link-title"
                        data-newstype="0"
                        href="/trung-luoc-buoi-sang-them-tac-dung-tuyet-voi-cho-tuoi-50-185260117152824416.htm"
                        title="Trứng luộc buổi sáng: Thêm tác dụng tuyệt vời cho tuổi 50!"
                        data-trimline-done="4"
                        >Trứng luộc buổi sáng: Thêm tác dụng tuyệt vời cho tuổi
                        50!</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section__nsp-sub">
        <div
          class="section__nsp-box-cate"
          data-marked-zoneid="tn_home_boxcate2"
          data-io-widget="true"
          data-vr-zone="Home - Giới trẻ"
        >
          <div
            class="box-category box-border-top"
            data-layout="9"
            data-cd-key="siteid185:newsinzonefullonhome:zone18569"
            data-cd-top="5"
          >
            <div class="box-category-top">
              <h2 class="title-category">
                <a
                  class="box-category-title"
                  href="/gioi-tre.htm"
                  title="Giới trẻ"
                >
                  Giới trẻ
                </a>
              </h2>
            </div>
            <div class="box-category-middle">
              <div
                class="box-category-item"
                data-id="185260117141843161"
                data-vr-contentbox="Home - Giới trẻ 1"
                data-vr-contentbox-url="https://thanhnien.vn/thuc-den-2-gio-dem-de-tap-van-nghe-cho-tiec-cuoi-nam-185260117141843161.htm"
              >
                <a
                  class="box-category-link-with-avatar img-resize"
                  href="/thuc-den-2-gio-dem-de-tap-van-nghe-cho-tiec-cuoi-nam-185260117141843161.htm"
                  title="Thức đến 2 giờ đêm để… tập văn nghệ cho tiệc cuối năm"
                  data-io-canonical-url="/thuc-den-2-gio-dem-de-tap-van-nghe-cho-tiec-cuoi-nam-185260117141843161.htm"
                >
                  <img
                    data-type="avatar"
                    src="https://images2.thanhnien.vn/zoom/300_188/528068263637045248/2026/1/17/base64-1768633705857843716889-106-303-827-1456-crop-1768633983842325258172.jpeg"
                    alt="Thức đến 2 giờ đêm để… tập văn nghệ cho tiệc cuối năm"
                    title="Thức đến 2 giờ đêm để… tập văn nghệ cho tiệc cuối năm"
                    loading="lazy"
                    class="box-category-avatar"
                    srcset="
                      https://images2.thanhnien.vn/zoom/300_188/528068263637045248/2026/1/17/base64-1768633705857843716889-106-303-827-1456-crop-1768633983842325258172.jpeg 1x,
                      https://images2.thanhnien.vn/zoom/650_406/528068263637045248/2026/1/17/base64-1768633705857843716889-106-303-827-1456-crop-1768633983842325258172.jpeg 2x
                    "
                  />
                </a>
                <div class="box-category-content">
                  <h3
                    class="box-title-text"
                    data-vr-headline=""
                    data-vr-contentbox-dynamic-hash="2503942364"
                  >
                    <a
                      data-linktype="newsdetail"
                      class="box-category-link-title"
                      data-newstype="0"
                      data-type="0"
                      href="/thuc-den-2-gio-dem-de-tap-van-nghe-cho-tiec-cuoi-nam-185260117141843161.htm"
                      title="Thức đến 2 giờ đêm để… tập văn nghệ cho tiệc cuối năm"
                      data-trimline-done="3"
                      >Thức đến 2 giờ đêm để… tập văn nghệ cho tiệc cuối năm</a
                    >
                  </h3>
                </div>
              </div>
              <div class="box-category-sub">
                <div
                  class="box-sub-item"
                  data-id="185260116150055366"
                  data-vr-contentbox="Home - Giới trẻ 2"
                  data-vr-contentbox-url="https://thanhnien.vn/khi-chiec-ao-cung-biet-doi-li-xi-185260116150055366.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/khi-chiec-ao-cung-biet-doi-li-xi-185260116150055366.htm"
                    title="Khi chiếc áo cũng biết… đòi lì xì"
                    data-id="185260116150055366"
                    data-io-canonical-url="/khi-chiec-ao-cung-biet-doi-li-xi-185260116150055366.htm"
                  >
                    <img
                      data-type="avatar"
                      src="https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/16/z74366230494707301a8a8dfb3a7d4987a0a5209ad6f84-17685500741751506287827-0-157-1861-2018-crop-1768550447216901697427.jpg"
                      alt="Khi chiếc áo cũng biết… đòi lì xì"
                      class="box-category-avatar"
                      loading="lazy"
                      srcset="
                        https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/16/z74366230494707301a8a8dfb3a7d4987a0a5209ad6f84-17685500741751506287827-0-157-1861-2018-crop-1768550447216901697427.jpg   1x,
                        https://images2.thanhnien.vn/zoom/196_196/528068263637045248/2026/1/16/z74366230494707301a8a8dfb3a7d4987a0a5209ad6f84-17685500741751506287827-0-157-1861-2018-crop-1768550447216901697427.jpg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="3481441823"
                    >
                      <a
                        data-linktype="newsdetail"
                        class="box-category-link-title"
                        data-newstype="0"
                        data-type="0"
                        href="/khi-chiec-ao-cung-biet-doi-li-xi-185260116150055366.htm"
                        title="Khi chiếc áo cũng biết… đòi lì xì"
                        data-trimline-done="3"
                        >Khi chiếc áo cũng biết… đòi lì xì</a
                      >
                    </h3>
                  </div>
                </div>
                <div
                  class="box-sub-item"
                  data-id="185260116232100246"
                  data-vr-contentbox="Home - Giới trẻ 3"
                  data-vr-contentbox-url="https://thanhnien.vn/hon-1000-nguoi-tham-gia-tuan-tra-khong-de-toi-pham-trong-dip-tet-185260116232100246.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/hon-1000-nguoi-tham-gia-tuan-tra-khong-de-toi-pham-trong-dip-tet-185260116232100246.htm"
                    title="Hơn 1.000 người tham gia tuần tra không để tội phạm trong dịp tết"
                    data-id="185260116232100246"
                    data-io-canonical-url="/hon-1000-nguoi-tham-gia-tuan-tra-khong-de-toi-pham-trong-dip-tet-185260116232100246.htm"
                  >
                    <img
                      data-type="avatar"
                      src="https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/16/photo-1768579044738-17685790458491496073395-0-162-658-820-crop-17685875146811987076974.jpeg"
                      alt="Hơn 1.000 người tham gia tuần tra không để tội phạm trong dịp tết"
                      class="box-category-avatar"
                      loading="lazy"
                      srcset="
                        https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/16/photo-1768579044738-17685790458491496073395-0-162-658-820-crop-17685875146811987076974.jpeg   1x,
                        https://images2.thanhnien.vn/zoom/196_196/528068263637045248/2026/1/16/photo-1768579044738-17685790458491496073395-0-162-658-820-crop-17685875146811987076974.jpeg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="1993102229"
                    >
                      <a
                        data-linktype="newsdetail"
                        class="box-category-link-title"
                        data-newstype="0"
                        data-type="0"
                        href="/hon-1000-nguoi-tham-gia-tuan-tra-khong-de-toi-pham-trong-dip-tet-185260116232100246.htm"
                        title="Hơn 1.000 người tham gia tuần tra không để tội phạm trong dịp tết"
                        data-trimline-done="3"
                        >Hơn 1.000 người tham gia tuần tra không để tội phạm
                        trong dịp tết</a
                      >
                    </h3>
                  </div>
                </div>
                <div
                  class="box-sub-item"
                  data-id="185260116225540938"
                  data-vr-contentbox="Home - Giới trẻ 4"
                  data-vr-contentbox-url="https://thanhnien.vn/pho-giao-su-tre-lam-gach-lat-via-he-tu-tro-xi-rac-185260116225540938.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/pho-giao-su-tre-lam-gach-lat-via-he-tu-tro-xi-rac-185260116225540938.htm"
                    title="Phó giáo sư trẻ làm gạch lát vỉa hè từ tro xỉ rác"
                    data-id="185260116225540938"
                    data-io-canonical-url="/pho-giao-su-tre-lam-gach-lat-via-he-tu-tro-xi-rac-185260116225540938.htm"
                  >
                    <img
                      data-type="avatar"
                      src="https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/16/photo-1768577994041-17685779946461769014789-0-194-683-877-crop-1768587635658155336139.jpeg"
                      alt="Phó giáo sư trẻ làm gạch lát vỉa hè từ tro xỉ rác"
                      class="box-category-avatar"
                      loading="lazy"
                      srcset="
                        https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/16/photo-1768577994041-17685779946461769014789-0-194-683-877-crop-1768587635658155336139.jpeg   1x,
                        https://images2.thanhnien.vn/zoom/196_196/528068263637045248/2026/1/16/photo-1768577994041-17685779946461769014789-0-194-683-877-crop-1768587635658155336139.jpeg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="3759680934"
                    >
                      <a
                        data-linktype="newsdetail"
                        class="box-category-link-title"
                        data-newstype="0"
                        data-type="0"
                        href="/pho-giao-su-tre-lam-gach-lat-via-he-tu-tro-xi-rac-185260116225540938.htm"
                        title="Phó giáo sư trẻ làm gạch lát vỉa hè từ tro xỉ rác"
                        data-trimline-done="3"
                        >Phó giáo sư trẻ làm gạch lát vỉa hè từ tro xỉ rác</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="section__stream-sub-cate"
          data-marked-zoneid="tn_home_box_cate4"
          data-io-widget="true"
          data-vr-zone="Home - Đời sống"
        >
          <!-- đời sống  siteid185:newsinzonefullonhome:zone18517;-->
          <div
            class="box-category box-border-top"
            data-layout="9"
            data-cd-key="siteid185:newsinzonefullonhome:zone18517"
            data-cd-top="5"
          >
            <div class="box-category-top">
              <h2 class="title-category">
                <a
                  class="box-category-title"
                  href="/doi-song.htm"
                  title="Đời sống"
                >
                  Đời sống
                </a>
              </h2>
            </div>
            <div class="box-category-middle">
              <div
                class="box-category-item"
                data-id="185260117115348357"
                data-vr-contentbox="Home - Đời sống 1"
                data-vr-contentbox-url="https://thanhnien.vn/cong-ty-pouyuen-ca-ngan-cong-nhan-sam-tet-tha-ga-ma-giam-gia-den-50-185260117115348357.htm"
              >
                <a
                  class="box-category-link-with-avatar img-resize"
                  href="/cong-ty-pouyuen-ca-ngan-cong-nhan-sam-tet-tha-ga-ma-giam-gia-den-50-185260117115348357.htm"
                  title="Công ty PouYuen: Cả ngàn công nhân sắm tết 'thả ga', mã giảm giá đến 50%"
                  data-io-canonical-url="/cong-ty-pouyuen-ca-ngan-cong-nhan-sam-tet-tha-ga-ma-giam-gia-den-50-185260117115348357.htm"
                >
                  <img
                    data-type="avatar"
                    src="https://images2.thanhnien.vn/zoom/300_188/528068263637045248/2026/1/17/con-nhan-sam-tet-3-17686249092381744036986-147-0-1747-2560-crop-1768625221145401267033.jpg"
                    alt="Công ty PouYuen: Cả ngàn công nhân sắm tết 'thả ga', mã giảm giá đến 50%"
                    title="Công ty PouYuen: Cả ngàn công nhân sắm tết 'thả ga', mã giảm giá đến 50%"
                    loading="lazy"
                    class="box-category-avatar"
                    srcset="
                      https://images2.thanhnien.vn/zoom/300_188/528068263637045248/2026/1/17/con-nhan-sam-tet-3-17686249092381744036986-147-0-1747-2560-crop-1768625221145401267033.jpg 1x,
                      https://images2.thanhnien.vn/zoom/650_406/528068263637045248/2026/1/17/con-nhan-sam-tet-3-17686249092381744036986-147-0-1747-2560-crop-1768625221145401267033.jpg 2x
                    "
                  />
                </a>
                <div class="box-category-content">
                  <h3
                    class="box-title-text"
                    data-vr-headline=""
                    data-vr-contentbox-dynamic-hash="1017910596"
                  >
                    <a
                      data-linktype="newsdetail"
                      class="box-category-link-title"
                      data-newstype="0"
                      data-type="0"
                      href="/cong-ty-pouyuen-ca-ngan-cong-nhan-sam-tet-tha-ga-ma-giam-gia-den-50-185260117115348357.htm"
                      title="Công ty PouYuen: Cả ngàn công nhân sắm tết 'thả ga', mã giảm giá đến 50%"
                      data-trimline-done="3"
                      >Công ty PouYuen: Cả ngàn công nhân sắm tết 'thả ga', mã
                      giảm giá đến 50%</a
                    >
                  </h3>
                </div>
              </div>
              <div class="box-category-sub">
                <div
                  class="box-sub-item"
                  data-id="185260117104406855"
                  data-vr-contentbox="Home - Đời sống 2"
                  data-vr-contentbox-url="https://thanhnien.vn/trich-xuat-camera-buong-lai-csgt-phat-5-trieu-dong-tai-xe-dung-dien-thoai-khi-lai-xe-185260117104406855.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/trich-xuat-camera-buong-lai-csgt-phat-5-trieu-dong-tai-xe-dung-dien-thoai-khi-lai-xe-185260117104406855.htm"
                    title="Trích xuất camera buồng lái, CSGT phạt 5 triệu đồng tài xế dùng điện thoại khi lái xe"
                    data-id="185260117104406855"
                    data-io-canonical-url="/trich-xuat-camera-buong-lai-csgt-phat-5-trieu-dong-tai-xe-dung-dien-thoai-khi-lai-xe-185260117104406855.htm"
                  >
                    <img
                      data-type="avatar"
                      src="https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/17/img0192-1768620653469701509328-45-0-845-1280-crop-1768620994404402527272.jpeg"
                      alt="Trích xuất camera buồng lái, CSGT phạt 5 triệu đồng tài xế dùng điện thoại khi lái xe"
                      class="box-category-avatar"
                      loading="lazy"
                      srcset="
                        https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/17/img0192-1768620653469701509328-45-0-845-1280-crop-1768620994404402527272.jpeg   1x,
                        https://images2.thanhnien.vn/zoom/196_196/528068263637045248/2026/1/17/img0192-1768620653469701509328-45-0-845-1280-crop-1768620994404402527272.jpeg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="1434929516"
                    >
                      <a
                        data-linktype="newsdetail"
                        class="box-category-link-title"
                        data-newstype="0"
                        data-type="16"
                        href="/trich-xuat-camera-buong-lai-csgt-phat-5-trieu-dong-tai-xe-dung-dien-thoai-khi-lai-xe-185260117104406855.htm"
                        title="Trích xuất camera buồng lái, CSGT phạt 5 triệu đồng tài xế dùng điện thoại khi lái xe"
                        data-trimline-done="3"
                        >Trích xuất camera buồng lái, CSGT phạt 5 triệu đồng tài
                        xế dùng điện thoại khi...</a
                      >
                    </h3>
                  </div>
                </div>
                <div
                  class="box-sub-item"
                  data-id="185260117102715051"
                  data-vr-contentbox="Home - Đời sống 3"
                  data-vr-contentbox-url="https://thanhnien.vn/buc-anh-cuoi-12-nam-truoc-cuoc-hoi-ngo-ky-dieu-voi-nhung-dua-tre-nam-xua-185260117102715051.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/buc-anh-cuoi-12-nam-truoc-cuoc-hoi-ngo-ky-dieu-voi-nhung-dua-tre-nam-xua-185260117102715051.htm"
                    title="Bức ảnh cưới 12 năm trước: Cuộc hội ngộ kỳ diệu với những đứa trẻ năm xưa"
                    data-id="185260117102715051"
                    data-io-canonical-url="/buc-anh-cuoi-12-nam-truoc-cuoc-hoi-ngo-ky-dieu-voi-nhung-dua-tre-nam-xua-185260117102715051.htm"
                  >
                    <img
                      data-type="avatar"
                      src="https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/17/unknown-6-17686200859522039981432-135-0-1168-1652-crop-176862013782532126196.jpg"
                      alt="Bức ảnh cưới 12 năm trước: Cuộc hội ngộ kỳ diệu với những đứa trẻ năm xưa"
                      class="box-category-avatar"
                      loading="lazy"
                      srcset="
                        https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/17/unknown-6-17686200859522039981432-135-0-1168-1652-crop-176862013782532126196.jpg   1x,
                        https://images2.thanhnien.vn/zoom/196_196/528068263637045248/2026/1/17/unknown-6-17686200859522039981432-135-0-1168-1652-crop-176862013782532126196.jpg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="2972834952"
                    >
                      <a
                        data-linktype="newsdetail"
                        class="box-category-link-title"
                        data-newstype="0"
                        data-type="0"
                        href="/buc-anh-cuoi-12-nam-truoc-cuoc-hoi-ngo-ky-dieu-voi-nhung-dua-tre-nam-xua-185260117102715051.htm"
                        title="Bức ảnh cưới 12 năm trước: Cuộc hội ngộ kỳ diệu với những đứa trẻ năm xưa"
                        data-trimline-done="3"
                        >Bức ảnh cưới 12 năm trước: Cuộc hội ngộ kỳ diệu với
                        những đứa trẻ năm xưa</a
                      >
                    </h3>
                  </div>
                </div>
                <div
                  class="box-sub-item"
                  data-id="18526011621444673"
                  data-vr-contentbox="Home - Đời sống 4"
                  data-vr-contentbox-url="https://thanhnien.vn/quyt-hinh-ngua-gia-chuc-trieu-o-hung-yen-chay-hang-truoc-tet-nguyen-dan-18526011621444673.htm"
                >
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/quyt-hinh-ngua-gia-chuc-trieu-o-hung-yen-chay-hang-truoc-tet-nguyen-dan-18526011621444673.htm"
                    title="Quýt hình ngựa giá chục triệu ở Hưng Yên 'cháy hàng' trước tết Nguyên đán"
                    data-id="18526011621444673"
                    data-io-canonical-url="/quyt-hinh-ngua-gia-chuc-trieu-o-hung-yen-chay-hang-truoc-tet-nguyen-dan-18526011621444673.htm"
                  >
                    <img
                      data-type="avatar"
                      src="https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/17/dh67381-17686094895181181181329-0-0-1580-2528-crop-17686103524671505737763.jpg"
                      alt="Quýt hình ngựa giá chục triệu ở Hưng Yên 'cháy hàng' trước tết Nguyên đán"
                      class="box-category-avatar"
                      loading="lazy"
                      srcset="
                        https://images2.thanhnien.vn/zoom/84_84/528068263637045248/2026/1/17/dh67381-17686094895181181181329-0-0-1580-2528-crop-17686103524671505737763.jpg   1x,
                        https://images2.thanhnien.vn/zoom/196_196/528068263637045248/2026/1/17/dh67381-17686094895181181181329-0-0-1580-2528-crop-17686103524671505737763.jpg 2x
                      "
                    />
                  </a>
                  <div class="box-category-content">
                    <h3
                      class="box-title-text"
                      data-vr-headline=""
                      data-vr-contentbox-dynamic-hash="2822371760"
                    >
                      <a
                        data-linktype="newsdetail"
                        class="box-category-link-title"
                        data-newstype="0"
                        data-type="16"
                        href="/quyt-hinh-ngua-gia-chuc-trieu-o-hung-yen-chay-hang-truoc-tet-nguyen-dan-18526011621444673.htm"
                        title="Quýt hình ngựa giá chục triệu ở Hưng Yên 'cháy hàng' trước tết Nguyên đán"
                        data-trimline-done="3"
                        >Quýt hình ngựa giá chục triệu ở Hưng Yên 'cháy hàng'
                        trước tết Nguyên đán</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__nsp-flex" style="margin-top: 40px">
      <div
        class="section__nsp-main"
        data-marked-zoneid="tn_home_tinthitruong"
        data-io-widget="true"
        data-vr-zone="Home - Tin thị trường"
      >
        <div class="section__nsp-box-mart">
          <div class="box-category box-border-top" data-layout="3">
            <div class="box-category-top">
              <h2 class="title-category">
                <a
                  class="box-category-title"
                  href="/thi-truong.htm"
                  title="Tin thị trường"
                >
                  Tin thị trường
                </a>
              </h2>
            </div>
            <div
              class="box-category-middle"
              data-cd-key="siteid185:newstophot"
              data-cd-top="8"
              data-cd-block="3"
            >
              <div
                id="box-test-tt"
                class="box-category-item"
                data-marked-zoneid="tn_home_tinthitruong_test"
                style="visibility: visible"
              >
                <div class="">
                  <a
                    class="box-category-link-with-avatar img-resize"
                    href="/tang-toc-thi-cong-thong-xe-qua-dap-dang-song-tra-khuc-truoc-tet-binh-ngo-185260117162834294.htm"
                    title="Tăng tốc thi công thông xe qua đập dâng sông Trà Khúc trước Tết Bính Ngọ"
                    data-id="185260117162834294"
                    data-newstype="0"
                    data-type="16"
                    data-io-canonical-url="/tang-toc-thi-cong-thong-xe-qua-dap-dang-song-tra-khuc-truoc-tet-binh-ngo-185260117162834294.htm"
                  >
                    <img
                      data-type="avatar"
                      src="https://images2.thanhnien.vn/zoom/160_100/528068263637045248/2026/1/17/editphotoiizinkukpu-1768641883-0-256-1440-2560-crop-1768641904433427798967.jpg"
                      alt="Tăng tốc thi công thông xe qua đập dâng sông Trà Khúc trước Tết Bính Ngọ"
                      class="box-category-avatar"
                      loading="lazy"
                    />
                  </a>
                  <div class="box-category-content">
                    <a
                      class="box-category-category"
                      href="/kinh-te/chinh-sach-phat-trien.htm"
                      title="Chính sách - Phát triển"
                      >Chính sách - Phát triển</a
                    >
                    <h3 class="box-title-text" data-vr-headline="">
                      <a
                        data-linktype="newsdetail"
                        data-id="185260117162834294"
                        class="box-category-link-title"
                        data-newstype="0"
                        data-type="16"
                        href="/tang-toc-thi-cong-thong-xe-qua-dap-dang-song-tra-khuc-truoc-tet-binh-ngo-185260117162834294.htm"
                        title="Tăng tốc thi công thông xe qua đập dâng sông Trà Khúc trước Tết Bính Ngọ"
                        data-trimline-done="4"
                        >Tăng tốc thi công thông xe qua đập dâng sông Trà Khúc
                        trước Tết Bính Ngọ</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
              <div
                class="box-category-item"
                data-id="185260116185120467"
                data-vr-contentbox="Home - Thị trường 2"
                data-vr-contentbox-url="https://thanhnien.vn/nguy-co-xang-e10-bi-khep-toi-hang-gia-185260116185120467.htm"
              >
                <a
                  class="box-category-link-with-avatar img-resize"
                  href="/nguy-co-xang-e10-bi-khep-toi-hang-gia-185260116185120467.htm"
                  title="Nguy cơ xăng E10 bị 'khép' tội hàng giả"
                  data-id="185260116185120467"
                  data-newstype="0"
                  data-type="0"
                  data-io-canonical-url="/nguy-co-xang-e10-bi-khep-toi-hang-gia-185260116185120467.htm"
                >
                  <img
                    data-type="avatar"
                    src="https://images2.thanhnien.vn/zoom/160_100/528068263637045248/2026/1/16/photo-1768563552240-1768563554070193317250-67-0-1183-1786-crop-1768564028853210004566.png"
                    alt="Nguy cơ xăng E10 bị 'khép' tội hàng giả"
                    class="box-category-avatar"
                    loading="lazy"
                    srcset="
                      https://images2.thanhnien.vn/zoom/160_100/528068263637045248/2026/1/16/photo-1768563552240-1768563554070193317250-67-0-1183-1786-crop-1768564028853210004566.png 1x,
                      https://images2.thanhnien.vn/zoom/384_240/528068263637045248/2026/1/16/photo-1768563552240-1768563554070193317250-67-0-1183-1786-crop-1768564028853210004566.png 2x
                    "
                  />
                </a>
                <div class="box-category-content">
                  <a
                    class="box-category-category"
                    href="/kinh-te.htm"
                    title="Kinh tế"
                    >Kinh tế</a
                  >
                  <h3
                    class="box-title-text"
                    data-vr-headline=""
                    data-vr-contentbox-dynamic-hash="4073283667"
                  >
                    <a
                      data-linktype="newsdetail"
                      data-id="185260116185120467"
                      class="box-category-link-title"
                      data-newstype="0"
                      data-type="0"
                      href="/nguy-co-xang-e10-bi-khep-toi-hang-gia-185260116185120467.htm"
                      title="Nguy cơ xăng E10 bị 'khép' tội hàng giả"
                      data-trimline-done="4"
                      >Nguy cơ xăng E10 bị 'khép' tội hàng giả</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
