
.content-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
}

.type-item {
    flex: 1;
    transition: all 0.3s ease;
    border-radius: 10px;
}


.type-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.text_center {
    text-align: center;

}
.margin-top-90{
    margin-top: 90px;
}

.btn-type {
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
    margin-top: 10px;
}

.btn-type:hover {
    opacity: 0.9;
    color: #ffffff !important; /* Ép màu chữ trắng khi di chuột */
    text-decoration: none !important;
    filter: brightness(1.1);
}

@media (max-width: 768px) {
    .content-box {
        flex-direction: column;
        align-items: center;
    }

    .type-item {
        width: 100%;
        margin-bottom: 30px;
    }
}

.advertise-section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.type-item:nth-child(2) {
    flex: 1.05;
    transform: scale(1.05);
    z-index: 2;
}

.type-item:nth-child(2) img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.text-center {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.div-title-text {
    color: #444444;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 35px;
    text-align: center;
}
.top-banner-line {
    background-color: #0fbbe1 !important;
    height: 20px;
    border: none;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 0;
    opacity: 1;
}

.advertise-page-wrapper {
    margin: 0 0 30px 0 !important;
    /*min-height: 100vh;*/
    background-color: #ffffff;
}
.header-advertise {
    font-size: 50px !important;
    color: #0098d1 !important;
    font-weight: 700 !important;
    margin: 30px 0 !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
}


