#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background-color: white;
  line-height: 20px;
}

.bootstrap__icon {
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bootstrap__icon i {
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-weight: normal !important;

  line-height: 1; /* Tránh bị lệch dòng trên/dưới */
  color: inherit; /* Lấy màu theo cha hoặc đặt màu cụ thể */
  display: inline-block;
}

h1 {
  margin: 0;
}

.hidden {
  display: none !important;
}

* {
    box-sizing: border-box;
}